<!DOCTYPE html>
<html lang="EN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width" />

	<title>{ifset $title}{$title}{/ifset}</title>
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include "elements/header.latte"}

	{include content}

	{include "elements/footer.latte"}

	{block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	{/block}
</body>
</html>
